.slidev-layout h1 {
  color: var(--slidev-theme-primary);
  font-weight: 600;
}

.slidev-layout h1 + p {
  opacity: 1;
}

.two-cols-header {
  grid-template-rows: auto 1fr !important;
  column-gap: 2rem;
}
